.highlight .hll { background-color: #f6f8fa }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #cf222e; /*font-weight: bold*/ } /* Keyword */
.highlight .o { color: #000000; font-weight: normal } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #59636e; /*font-style: italic*/ } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; /*font-weight: bold*/ } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #6639ba; font-weight: normal } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #0550ae; font-weight: normal } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #0550ae } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
/* .highlight .n  { color: #953800 } */


ul {
    padding-inline-start: 20px;
}

div.highlight {
    padding: 0px;
    border: 1px solid #e4e4e4;
    font-size: small;
}

blockquote {
    border-left: 1.5px solid #e91e63;
    color: #222;
    padding-left: 20px;
    /* font-style: italic; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.highlight,
.code {
    padding: 15px 15px;
    color: #222;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow:auto;margin: 0px;
}

nav{
    margin:auto;
    width: 900px;
    height:3vh;
    line-height:3vh;
}


a.todo { color:#e91e63; }
a.doing { color:green; }
a.done { color:blue; }

.nav{
    display: grid;
    grid-template-areas: 
    "left middle right";
    grid-template-columns: 300px auto 300px;
}

.nav-left {
    grid-area: left;
}.nav-right {
    grid-area: right;
    text-align: right;
}

.container{
    margin:auto;
    max-width: 900px;
    display: grid;
    grid-template-areas: 
    "middle right";
    grid-template-columns: minmax(300px, 600px) 0px;
    column-gap:20px;
}

@media only screen and (min-width: 600px) {
    .container{
        display: grid;
        grid-template-areas: 
        "middle right";
        grid-template-columns: minmax(300px, 600px) 300px;
        column-gap:20px;
    }
}

.notes {
    grid-area: middle;
    height: 95vh;
    overflow: scroll;
}

.toc {
    grid-area: right;
    overflow: scroll;
    height: 95vh;
}
.note{
    margin-bottom: 25px;
}


a.navitem{
    display: inline-block;
    padding-right: 10px;
    /* font-family: sans-serif; */
    /* color: #006633; */
    font-size: unset;
    color: #e91e1e;
    text-decoration: none;
}
a.navitem.logo{
    font-size: x-large;
}

.xxs{font-size: 5px;} 
.grey{color: gray} 
.monospace{font-family:monospace} 
.italics{font-style: italic;}

.note h1:first-of-type, .note h2:first-of-type, 
.note h3:first-of-type, .note h4:first-of-type {
    margin-top: 0px;
}

h2 + p, h3 + p {
    margin-top: 0;
}
h3 {
    margin-bottom: 8px;
}

